table {
    display : block;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
}

.button {
    border: outset;
    color: black;
    padding: 8px 4px;
    min-width: 96px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:monospace;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.slider {
    -webkit-appearance: none;
    width: 10%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#description {
    display : block;
    position : absolute;
    background : transparent;
    padding : 10px;
    width: 1000px;
    height: 55px;
    /*font-size:large;
    font-weight: bold;*/
    font-family:Times, "Times New Roman", serif;
}